<% if @user_subscriptions.count == 0 %>
  <h1>Welcome to Parkie!<h1>
  <h3>We are a community based around Parks, make sure to have a look around and subscribe to your favourite events!</h3>
<% else %>
  <h3>Here is a list of your subscriptions</h3>
  <% @user_subscriptions.each do |subscription| %>
    <p><%= subscription.activity.name %> @ <%= subscription.park.name %></p>
    <%= form_tag(subscription_path(id: subscription.id), method: 'delete') do %>
      <button class="subcribe_button" name="subscribe_button" type="submit">Unsubscribe</button>
    <% end %>
  <% end %>
<% end %>

<% if @user_events.count == 0 %>
  <h3>You are not currently scheduled to attend any events...<h3>
<% else %>
  <h3>Here is a list of your events</h3>
  <% @user_events.each do |event| %>
    <p><%= event.park_activity.activity.name %> @ <%= event.park_activity.park.name %>
    => <%= event.owner.username %> will be there @ <%=event.date_time.strftime(" %I:%M%p")%> with <%=event.count%> people attending!</p>
  <% end %>
<% end %>
