<div class="show_page_content">
  <% if @user.avatar != ""%>
    <div class="profile_pic"><%= image_tag @user.avatar,:class =>'img-circle' %> <br>
    </div>
  <% else %>
    <div><%= image_tag "default.jpg",:class =>'img-circle' %></div>
  <% end %>

  <h3 class="welcome_user">Welcome to <span style="font-family:rancho"><span style="font-size:35px">Parkie</span></span> <%=@user.username%>!</h3></div>

  <div class="user_subs_events">

    <div class="subscription_list">
      <% if @user_subscriptions.count == 0 %>
        <h5>We are a community based around Parks, make sure to have a look around and subscribe to your favourite events!</h5>
      <% else %>
        <h5>Your subscriptions</h5>
        <!-- <div class="subscription_item"> -->
          <% @user_subscriptions.each do |subscription| %>
              <p><%= subscription.activity.name %> @ <%= subscription.park.name %></p>
          <!-- <div class="subscribe_button"> -->
            <%= form_tag(subscription_path(id: subscription.id), method: 'delete') do %>
              <button class="subcribe_button" name="subscribe_button" type="submit">Unsubscribe</button>
          <!-- </div> -->
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="event_list">
      <div class="owned_event_list">
        <% if @owned_events.count != 0 %>
          <h5>Your events</h5>
          <% @owned_events.each do |event| %>
            <p class="user_p"><%= event.park_activity.activity.name %> @ <%= event.park_activity.park.name %>
              Starting @ <%=event.date_time.strftime(" %I:%M%p") %> with <%= pluralize(event.count, "person" ) %> attending!  <br><br>
            </p>
            <%= form_tag(park_activity_event_path(park_id: event.park.id, activity_id: event.activity.id, event: event), method: 'delete') do %>
            <button class="create_event_button" name="create_event_button" type="submit">Cancel this Event!</button>
            <% end %>
          <% end %>
        <% else %>
          <h5>Your events</h5>
          <p>You have not created any events</p>
        <% end %>
      </div>

      <div class="joined_event_list">
        <% if @user_events.count == 0 %>
          <h5>Events you're attending</h5>
          <p>You are not currently scheduled to attend any events...<p>
        <% else %>
          <h5>Here is a list of your events</h5>
          <% @user_events.each do |event| %>
            <p><%= event.park_activity.activity.name %> @ <%= event.park_activity.park.name %>
            => <%= event.owner.username %> will be there @ <%=event.date_time.strftime(" %I:%M%p")%> with <%=event.count%> people attending!</p>
            <%= form_tag(participant_path(event: event), method: 'delete') do %>
              <button class="join_event_button" name="join_event_button" type="submit">Cancel your attendance!</button>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Search', root_url %> | <%= link_to 'Verify my #', new_user_verification_path(@user) if @user.verification != 'verified' %>

</div>
