<section class="activities">

  <div class="card">
    <div class="card-block">
      <h3 class="card-header"><%=@activity.name %> at <%= @park.name %>!</h3>
      <h4 class="card-title">Events for <%=Time.now.strftime("%B %d, %Y")%></h4>
        <div class="Container1">
          <% if @subscription == nil %>
            <%= form_tag(subscriptions_path, method: 'post') do %>
            <%= hidden_field_tag(:park_activity_id, @park_activity.id) %>
              <button class="subcribe_button" name="subscribe_button" type="submit">Subscribe!</button>
            <% end %>
          <% else %>
            <%= form_tag(subscription_path(id: @subscription.id), method: 'delete') do %>
              <button class="subcribe_button" name="subscribe_button" type="submit">Unsubscribe</button>
            <% end %>
          <% end %>
          <button class="new_event_button" name="new_event_button" type="submit">
          <%= link_to "Create Event!", new_park_activity_event_path(params[:park_id], @activity.id) %></button>
        </div>
      </div>
        <p class="card-text">
          <div class="Events!">
            <% if @park_activity_events == nil %>
              <h3>There are no scheduled events at this time.</h3>
            <% else %>
              <% @park_activity_events.each do |event| %>
                <div class="Container3">
                  <h5><%= event.owner.username %> is there @ <%=event.date_time.strftime(" %I:%M%p")%> with <%=event.count%> other parkies!</h5>
                  <h4><%=event.description=%></h4>
                  <% unless current_user == nil %>
                    <% if event.attendees.ids.include? current_user.id %>
                      <%= form_tag(participant_path(event: event), method: 'delete') do %>
                        <button class="join_event_button" name="join_event_button" type="submit">Cancel your attendance!</button>
                      <% end %>
                    <% else %>
                      <%= form_tag(participants_path, method: 'post') %>
                      <%= hidden_field_tag(:event, event.id) %>
                      <button class="join_event_button" name="join_event_button" type="submit">Attend this event!</button>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <%end%>
          </div>
        </p>
      </div>
    </div>

</section>
