<div class="activity_show_img"><%=image_tag(@park_activity.image, height: '500px', width: '100%') %></div>

<h3 class="activity_header"><%=@activity.name %> at <%= @park.name %>!</h3>

<div class="subscription">
  <div class="subscription_container">
    <% if @subscription == nil %>
      <%= form_tag(subscriptions_path, method: 'post') do %>
        <%= hidden_field_tag(:park_activity_id, @park_activity.id) %>
        <h3>Subscribe to be notified of any upcoming events! </h3>
        <button class="subscribe_button" name="subscribe_button" type="submit">Subscribe!</button>
      <% end %>
    <% else %>
        <%= form_tag(subscription_path(id: @subscription.id), method: 'delete') do %>
          <h3>Subscribe to be notified of any upcoming events! </h3>
          <button class="subscribe_button" name="subscribe_button" type="submit">Unsubscribe</button>
        <% end %>
    <% end %>
  </div>
</div>

<div class="events">
  <!-- <div class="Container"> -->
  <div class="create_event">
    <h3></h3>
    <button class="create_event_button"><%= link_to "Create Event!", new_park_activity_event_path(params[:park_id], @activity.id) %></button>
  </div>

  <div class="events_list">
  <h2>Events for <%=Time.now.strftime("%B %d, %Y")%> to <%=1.week.from_now.strftime("%B %d, %Y")%>  </h2>
    <% if @upcoming_events == [] %>
      <h3>There are no scheduled events at this week.</h3>
    <% else %>
      <% @upcoming_events.each do |event| %>
        <div class="event_container">

          <h3><%= event.owner.username %> will be there @ <%=event.date_time.strftime("%B, %d, %I:%M%p")%> with <%=event.count%> people!<h3>

          <% unless current_user == nil %>
            <% if event.attendees.ids.include? current_user.id %>
              <%= form_tag(participant_path(event: event), method: 'delete') do %>
                <button class="attend_event_button" name="attend_event_button" type="submit">Cancel your attendance!</button>
              <% end %>
            <% elsif current_user.id == event.owner.id %>
              <%= form_tag(park_activity_event_path(park_id: event.park.id, activity_id: event.activity.id, event: event), method: 'delete') do %>
              <button class="create_event_button" name="create_event_button" type="submit">Cancel this Event!</button>
              <% end %>
            <% else %>
              <%= form_tag(participants_path, method: 'post') %>
              <%= hidden_field_tag(:event, event.id) %>
              <button class="attend_event_button" name="attend_event_button" type="submit">Attend this event!</button>

            <% end %>
          <% end %>
        </div>
      <% end %>
    <%end%>
  </div>

  <!-- </div> -->
</div>
