<!DOCTYPE html>
<html>
  <head>
    <title>Parkie</title>
    <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>

  <!-- NAVIGATION -->
  <% if current_page?(root_path) %>
    <div class="nav">
      <div class="nav-container">
        <div class="row">
          <div class="col-xs-6">
            <div class="nav_logo">
              <%=link_to image_tag("Parkie.png"), root_url%>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="nav_links">
              <% if current_user %>
                <%= link_to "My Profile", user_path(current_user.id) %>
                <%= link_to "Logout", :logout, method: :post %>
              <% else %>
                <%= link_to "Register", new_user_path %> |
                <%= link_to "Login", :login %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="nav">
      <div class="nav-container">
        <div class="row">
          <div class="col-xs-6">
            <div class="nav_logo">
              <%=link_to image_tag("Parkie.png"), root_url%>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="nav_links_alt">
              <% if current_user %>
                <%= link_to "My Profile", user_path(current_user.id) %>
                <%= link_to "Logout", :logout, method: :post %>
              <% else %>
                <%= link_to "Register", new_user_path %> |
                <%= link_to "Login", :login %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

  <main>
    <%= yield %>
    <div class="push">
    </div>
  </main>

  <div class='footer'>
    <p>Copyright &copy; 2017 Parkie. Created by <a href="https://www.linkedin.com/in/frankburketoronto/"><span id="founders">Frank Burke</span></a>, <a href="https://www.linkedin.com/in/gee-mehra/"><span id="founders">Gee Mehra</span></a>, and <a href="https://www.linkedin.com/in/pawel-parafianowicz-b7855b37/"><span id="founders">Pawel Parafianowicz</span></a></p>
  </div>
  </body>
</html>
