<!DOCTYPE html>
<html>
  <head>
    <title>Parkie</title>
    <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>

  <!-- NAVIGATION -->
  <% if current_page?(root_path) %>
    <div class="nav">
      <div class="nav-container">
        <div class="row">
          <div class="col-xs-6">
            <div class="nav_logo">
              <%=link_to image_tag("Parkie.png"), root_url%>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="nav_links">
              <% if current_user %>
                <%= link_to "Logout", :logout, method: :post %>
                <%= link_to "My Profile", user_path(current_user.id) %>
              <% else %>
                <%= link_to "Register", new_user_path %> |
                <%= link_to "Login", :login %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="nav">
      <div class="nav-container">
        <div class="row">
          <div class="col-xs-6">
            <div class="nav_logo">
              <%=link_to image_tag("Parkie.png"), root_url%>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="nav_links_alt">
              <% if current_user %>
                <%= link_to "Logout", :logout, method: :post %>
                <%= link_to "My Profile", user_path(current_user.id) %>
              <% else %>
                <%= link_to "Register", new_user_path %> |
                <%= link_to "Login", :login %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

  <!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <div class="nav_logo">
          <%=image_tag("Parkie.png")%>
        </div>
        <a class="navbar-brand" href="#">Parkie</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Parks</a></li>
      <li><a href="#">Activities</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav> -->

  <%= yield %>

  <div class='footer'>
    <p>Parkie  &copy; 2017. Created by Frank Burke, Gee Mehra, Pawel Parafianowicz, and Valerie Boem</p>
  </div>
  </body>
</html>
