<!DOCTYPE html>
<html>
  <head>
    <title>Parkie</title>
    <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>

<!-- DESKTOP -->

  <!-- NAVIGATION -->
  <div class="nav">
    <div class="nav-container">
      <div class="row">
        <div class="col-xs-6">
          <div class="nav_logo">
            <%=image_tag("Parkie.png")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="nav_links">
            <% if current_user %>
              <%= link_to "Logout", :logout, method: :post %>
            <% else %>
              <%= link_to "Register", new_user_path %> |
              <%= link_to "Login", :login %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

<!-- MOBILE -->

  <div class="hidden-sm">
    <nav id="myNavbar" class="navbar navbar-default navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"href="http://localhost:3000/"><%=image_tag("Parkie.png", height: '40px', width: '45%') %></a>
            </div>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="..." target="_blank">Home</a></li>
                    <li><a href="..." target="_blank">Parks</a></li>
                    <li><a href="..." target="_blank">Activities</a></li>
                </ul>
            </div>
        </div>
    </nav>
  </div>

  <%= yield %>

  <div class='footer'>
    <p>Parkie  &copy; 2017. Created by Frank Burke, Gee Mehra, Pawel Parafianowicz, and Valerie Boem</p>
  </div>
  </body>
</html>
